---
import Layout from "../layouts/Layout.astro";
import { Calendar } from "../components/Calendar";
---

<Layout>
	<div class="overflow-x-auto border-b border-white/10">
		<div class="min-w-[892px] px-6 pt-4 pb-5">
			<Calendar client:load />
		</div>
	</div>

	<div class="px-6 py-5 text-center">
		Under construction! Check out my contributions on&nbsp;
		<a
			href="https://github.com/unrevised6419"
			target="_blank"
			rel="noopener noreferrer"
			class="font-medium text-indigo-500 hover:underline"
		>
			GitHub
		</a>.
	</div>
</Layout>
