---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Calendar } from "../components/Calendar";

const posts = await getCollection("blog");
const sortedPosts = posts.toSorted((a, b) => {
	const aDate = a.data.created_at || a.data.edited_at;
	const bDate = b.data.created_at || b.data.edited_at;
	return bDate.getTime() - aDate.getTime();
});
---

<Layout>
	<div class="overflow-x-auto border-b border-gray-200 dark:border-white/10">
		<div class="min-w-[892px] px-6 pt-3 pb-5">
			<Calendar />
		</div>
	</div>

	<ul role="list" class="divide-y divide-gray-200">
		{
			sortedPosts.map((post) => (
				<li class="relative bg-white px-6 py-5 focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-inset hover:bg-gray-50">
					<div class="flex justify-between space-x-3">
						<div class="min-w-0 flex-1">
							<a href={`/posts/${post.id}`} class="block focus:outline-hidden">
								<span aria-hidden="true" class="absolute inset-0" />
								<p class="truncate font-medium text-gray-900">
									{post.data.title}
								</p>
							</a>
						</div>
						<time
							datetime={(
								post.data.created_at ?? post.data.edited_at
							)?.toISOString()}
							class="shrink-0 text-sm whitespace-nowrap text-gray-500"
						>
							{(
								post.data.created_at ?? post.data.edited_at
							)?.toLocaleDateString()}
						</time>
					</div>
					<div class="mt-1">
						<p class="line-clamp-2 text-sm text-gray-600">
							{post.data.description}
						</p>
					</div>
				</li>
			))
		}
	</ul>
</Layout>
