---
import IconGitHub from "../components/icons/IconGitHub.astro";
import IconLinkedin from "../components/icons/IconLinkedin.astro";
---

<ul class="inline-grid grid-flow-col gap-2">
	<li>
		<a
			href="/linkedin"
			title="LinkedIn"
			class="inline-grid size-10 place-content-center rounded-sm bg-gray-200 hover:bg-green-300"
		>
			<IconLinkedin class="h-6 w-6 shrink-0 text-gray-600" />
		</a>
	</li>

	<li>
		<a
			href="/github"
			title="GitHub"
			class="inline-grid size-10 place-content-center rounded-sm bg-gray-200 hover:bg-green-300"
		>
			<IconGitHub class="h-6 w-6 shrink-0 text-gray-600" />
		</a>
	</li>

	<li>
		<a
			href="/resume"
			title="Resume"
			class="inline-grid h-10 place-content-center rounded-sm bg-gray-200 px-2 hover:bg-green-300"
		>
			<strong class="h-6 shrink-0 text-gray-600">RESUME</strong>
		</a>
	</li>
</ul>
