---
import { Picture } from "astro:assets";
import "../styles/global.css";
import { ChevronDownIcon } from "@heroicons/react/16/solid";
import Socials from "../components/Socials.astro";

const tabs = [
	{
		name: "Posts",
		href: "/",
		disabled: false,
	},
	{
		name: "Contributions",
		href: "/contributions",
		disabled: false,
	},
	{
		name: "Experience",
		href: "/experience",
		disabled: true,
	},
	{
		name: "Recommendations",
		href: "/recommendations",
		disabled: true,
	},
];

function classNames(...classes: any[]) {
	return classes.filter(Boolean).join(" ");
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Full stack developer!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="canonical" href="https://all1n.dev/" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrei L | All In Developer</title>
	</head>
	<body class="bg-hexagon-pattern min-h-screen bg-green-900 p-4">
		<main
			class="mx-auto max-w-prose rounded-lg bg-white shadow-sm dark:bg-gray-800/50 dark:shadow-none dark:outline dark:-outline-offset-1 dark:outline-white/10"
		>
			<div class="border-b border-gray-200 px-6 py-5 dark:border-white/10">
				<div
					class="-mt-4 -ml-4 flex flex-wrap items-center justify-between sm:flex-nowrap"
				>
					<div class="mt-4 ml-4">
						<div class="flex items-center">
							<a class="shrink-0" href="/">
								<Picture
									src="https://avatars.githubusercontent.com/u/67485880"
									width={256}
									height={256}
									class="size-16 rounded-full bg-gray-50 dark:bg-gray-800 dark:outline dark:-outline-offset-1 dark:outline-white/10"
									alt="Andrei L"
								/>
							</a>
							<div class="ml-4">
								<h3
									class="text-base font-semibold text-gray-900 dark:text-white"
								>
									<a href="/">Andrei L</a>
								</h3>
								<p class="text-sm text-gray-500 dark:text-gray-400">
									<a href="https://github.com/allindevelopers">
										❤️&nbsp;&nbsp;<code>All In Developer</code>
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="mt-4 ml-4 flex shrink-0">
						<Socials />
					</div>
				</div>
			</div>

			<nav class="border-b border-gray-200 dark:border-white/10">
				<div>
					<div class="grid grid-cols-1 sm:hidden">
						<select
							id="pageChange"
							aria-label="Select a tab"
							class="col-start-1 row-start-1 w-full appearance-none bg-white py-2 pr-8 pl-3 text-base text-gray-900 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 dark:bg-white/5 dark:text-gray-100 dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-indigo-500"
						>
							{
								tabs.map((tab) => (
									<option
										value={tab.href}
										selected={tab.href === Astro.url.pathname}
									>
										{tab.name}
									</option>
								))
							}
						</select>
						<script>
							const select = document.getElementById("pageChange");
							select?.addEventListener("change", (event) => {
								const target = event.target as HTMLSelectElement;
								window.location.href = target.value;
							});
						</script>
						<ChevronDownIcon
							aria-hidden="true"
							className="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end fill-gray-500 dark:fill-gray-400"
						/>
					</div>
					<div class="hidden overflow-x-auto sm:block">
						<nav
							aria-label="Tabs"
							class="isolate flex divide-x divide-gray-200 bg-white dark:divide-white/10 dark:bg-gray-800/50 dark:outline dark:-outline-offset-1 dark:outline-white/10"
						>
							{
								tabs.map((tab) => {
									const isCurrent = tab.href === Astro.url.pathname;
									return (
										<Fragment>
											<a
												href={tab.disabled ? undefined : tab.href}
												aria-current={isCurrent ? "page" : undefined}
												class={classNames(
													isCurrent
														? "text-gray-900 dark:text-white"
														: "text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-white",
													"group relative px-4 py-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10 dark:hover:bg-white/5",
													tab.disabled ? "cursor-wait opacity-50" : "",
												)}
											>
												<span>{tab.name}</span>
												<span
													aria-hidden="true"
													class={classNames(
														isCurrent
															? "bg-indigo-500 dark:bg-indigo-400"
															: "bg-transparent",
														"absolute inset-x-0 bottom-0 h-0.5",
													)}
												/>
											</a>
										</Fragment>
									);
								})
							}
						</nav>
					</div>
				</div>
			</nav>

			<div>
				<slot />
			</div>
		</main>
	</body>
</html>
